@rendermode InteractiveServer

<div id="search">
    <form>
        <input type="text"
               placeholder="Pesquisar..."
               @bind="SearchTerm"
               @bind:event="oninput" />
    </form>
</div>

@code {
    private string SearchTerm = "";
}
